# data files
methylation_analysis*/aligned
methylation_analysis*/methylation
methylation_analysis*/trimmed
methylation_analysis*/custom_aligned
methylation_analysis*/custom_methylation
methylation_analysis_1.0
methylation_analysis_2.0
rrbs_embryos
processed_data

.ruffus_history.sqlite
fastq
# Emacs backup files
*~
data

